[type="checkbox"] {
    display: none;
}

[type="checkbox"] + label {
    position: absolute;
    cursor: pointer;
}

[type="checkbox"] + label::before {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0;
    border: 2px solid var(--bs-secondary);
    background-color: var(--bs-body-bg);
    display: block;
    content: "";
    float: left;
    margin-right: 5px;
    z-index: 5;
    position: relative;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    box-shadow: inset 0 0 0 3px var(--bs-body-bg);
}

[type="checkbox"]:checked + label::before {
    box-shadow: inset 0 0 0 3px var(--bs-body-bg);
    background-color: var(--bs-secondary);
}