<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="@_selectedCurrency" alt="chaos orb" width="25"/>
</button>
<ul class="dropdown-menu">
    <li>
        <a class="dropdown-item" role="button" @onclick="() => SetSelectedCurrency(ChaosIcon)">
            <img src="@ChaosIcon" alt="chaos orb" width="25"/>
        </a>
    </li>
    <li>
        <a class="dropdown-item" role="button" @onclick="() => SetSelectedCurrency(ExaltedIcon)">
            <img src="@ExaltedIcon" alt="exalted orb" width="25"/>
        </a>
    </li>
    <li>
        <a class="dropdown-item" role="button" @onclick="() => SetSelectedCurrency(ExaltedIcon)">
            <img src="@ExaltedIcon" alt="exalted orb" width="25"/>
        </a>
    </li>
</ul>

@code {
        private const string ChaosIcon = "icons/chaos_orb.png";
        private const string ExaltedIcon = "icons/exalted_orb.png";
    private string _selectedCurrency = ChaosIcon;
    private void SetSelectedCurrency(string currencyImage) { _selectedCurrency = currencyImage; }
}