<div class="footer">
    <p class="ms-3 mb-2 mt-2">last update: @LastUpdateText()</p>
    <a class="mb-2 mt-2" href="https://imprint.swerik.dev" target="_blank">Imprint</a>
    <p class="me-3 mb-2 mt-2">Powered by <a href="https://poe.ninja/">poe.ninja</a></p>
</div>