<nav >
    <Theme></Theme>
    <NavLink class="nav-link mx-4 test"href="" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="nav-link test" href="stats">
        Statistics
    </NavLink>
</nav>