@using PoEGamblingHelper.Web.Services.Interfaces
@if (_isLoggedIn)
{
    @ChildContent
}
else
{
    <div class="d-flex flex-column">
        <input type="text" @bind="_apiKey" @onkeydown="Submit"/>
        <button class="btn-primary" @onclick="Login">Login</button>
    </div>
}


@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Inject] private IAnalyticsService AnalyticsService { get; set; } = null!;
    private string _apiKey = "";
    private bool _isLoggedIn;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _isLoggedIn = await AnalyticsService.Check();
    }

    private async Task Login()
    {
        await AnalyticsService.Login(_apiKey);
        _isLoggedIn = await AnalyticsService.Check();
    }

    private async Task Submit(KeyboardEventArgs arg)
    {
        if (arg.Key == "Enter") await Login();
    }

}