@if (_isLoggedIn)
{
    @ChildContent
}
else
{
    <div class="d-flex flex-column" style="margin-top: 5rem">
        <input type="text" @bind="_apiKey" @onkeydown="Submit"/>
        <button class="btn-primary" @onclick="Login">Login</button>
    </div>
}