.fixed-position {
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.icon-anchor {
    cursor: pointer;
    margin: 0;
}

.theme-icon {
    width: 2rem;
    height: 2rem;
    margin: 0;
    background-color: var(--bs-secondary);
}

.moon-icon {
    -webkit-mask: url(icons/moon.svg) no-repeat center;
    mask: url(icons/moon.svg) no-repeat center;
}

.sun-icon {
    -webkit-mask: url(icons/sun.svg) no-repeat center;
    mask: url(icons/sun.svg) no-repeat center;
}