@page "/analytics"

<PassKeyProtection/>

<h3>Analytics</h3>

<LineChart @ref="_lineChart" Width="800" Class="mb-4"/>

@code {

    // [Inject] private IAnalyticsService AnalyticsService { get; set; } = null!;
    // private List<AnalyticsDay> _analytics;

}
