@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';

/* /Pages/GamblingHelper.razor.rz.scp.css */
.vertical-content[b-y1vdupi6cv] {
    width: 100%;
    height: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer[b-y1vdupi6cv] {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--bs-body-bg);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

h1[b-y1vdupi6cv] {
    font-weight: 500;
    font-size: 64px;
    margin-bottom: 0;
}

h2[b-y1vdupi6cv] {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 0;
}

h4[b-y1vdupi6cv] {
    font-weight: 500;
    font-size: 20px;
    margin: 13px 10px 0 10px;
}
/* /Shared/Components/Filter.razor.rz.scp.css */
.w-65[b-0wgqw0wcvf] {
    width: 65%;
}

.w-35[b-0wgqw0wcvf] {
    width: 35%;
}

.float-container[b-0wgqw0wcvf] {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.floating-autoload[b-0wgqw0wcvf] {
    position: relative;
    top: -1.7vh;
    /*left: 2.65vw;*/
    left: 50%;
    width: 1rem;
    height: 1.5rem;
    margin: 0;
    padding: 0;
    z-index: 99999;
}

.icon[b-0wgqw0wcvf] {
    filter: invert(31%) sepia(37%) saturate(6360%) hue-rotate(337deg) brightness(91%) contrast(89%);
    width: 100%;
    height: 100%;
}

.angles[b-0wgqw0wcvf] {
    margin: 0 1rem;
    width: 1rem;
    background-color: var(--bs-primary);
}

.angles-up[b-0wgqw0wcvf] {
    -webkit-mask: url(icons/angles-up.svg) no-repeat center;
    mask: url(icons/angles-up.svg) no-repeat center;
}

.angles-down[b-0wgqw0wcvf] {
    -webkit-mask: url(icons/angles-down.svg) no-repeat center;
    mask: url(icons/angles-down.svg) no-repeat center;
}

.card[b-0wgqw0wcvf] {
    border-width: 2px;
}
/* /Shared/Components/GemStats.razor.rz.scp.css */
#avg-profit[b-fxbhsl0t1m] {
    cursor: initial;
}

#avg-profit:hover[b-fxbhsl0t1m] {
    filter: none !important;
}

.edit-button[b-fxbhsl0t1m] {
    background: none;
    border: none;
    display: flex;
    height: 1.5rem;
}

.edit-icon[b-fxbhsl0t1m] {
    background-color: var(--bs-secondary);
    width: 1.5rem;
    height: 1.5rem;
}

.pen-icon[b-fxbhsl0t1m] {
    -webkit-mask: url(icons/edit.svg) no-repeat center;
    mask: url(icons/edit.svg) no-repeat center;
}

.check-mark-icon[b-fxbhsl0t1m] {
    -webkit-mask: url(icons/check-mark.svg) no-repeat center;
    mask: url(icons/check-mark.svg) no-repeat center;
}

.reset-icon[b-fxbhsl0t1m] {
    -webkit-mask: url(icons/arrow-rotate-right.svg) no-repeat center;
    mask: url(icons/arrow-rotate-right.svg) no-repeat center;
}

input[b-fxbhsl0t1m] {
    padding-right: 8px !important;
}

.card[b-fxbhsl0t1m] {
    border: none;
    background-color: var(--bs-body-bg-accent);
}
/* /Shared/Components/Theme.razor.rz.scp.css */
.fixed-position[b-idie6llbt2] {
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.icon-anchor[b-idie6llbt2] {
    cursor: pointer;
    margin: 0;
}

.theme-icon[b-idie6llbt2] {
    width: 2rem;
    height: 2rem;
    margin: 0;
    background-color: var(--bs-secondary);
}

.moon-icon[b-idie6llbt2] {
    -webkit-mask: url(icons/moon.svg) no-repeat center;
    mask: url(icons/moon.svg) no-repeat center;
}

.sun-icon[b-idie6llbt2] {
    -webkit-mask: url(icons/sun.svg) no-repeat center;
    mask: url(icons/sun.svg) no-repeat center;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-s29s4s63jm] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-s29s4s63jm] {
    flex: 1;
}

@media (min-width: 641px) {
    .page[b-s29s4s63jm] {
        flex-direction: row;
    }
}
