<div class="footer">
    <div class="col d-flex justify-content-start ps-3 pb-2 pt-2">
        <p>last update: @LastUpdateText()</p>
    </div>
    <div class="col d-flex justify-content-center pb-2 pt-2">
        <a href="https://imprint.swerik.dev" target="_blank">Imprint</a>
    </div>
    <div class="col d-flex justify-content-end pe-3 pb-2 pt-2">
        <p>Powered by <a href="https://poe.ninja/" target="_blank">poe.ninja</a></p>
    </div>
</div>