<nav>
    <Theme></Theme>
    @* <NavLink class="nav-link mx-4" href="" Match="NavLinkMatch.All"> *@
    @*     Home *@
    @* </NavLink> *@
    @* <NavLink class="nav-link" href="stats"> *@
    @*     Statistics *@
    @* </NavLink> *@
    @* <div></div> *@
    @* <Theme></Theme> *@
</nav>