:root, .card, .btn {
    /*--bs-primary: #9f9d9d !important;*/
    /*--bs-primary-darker: #807e7e !important;*/
    --bs-primary: #c2c2c2 !important;
    --bs-primary-darker: #999999 !important;
    --bs-secondary: #f3b061 !important;

    --bs-body-color: #1e1e1e !important;
    --bs-body-bg: #ffffff !important;

    --bs-btn-color: var(--bs-body-color);
    --bs-btn-border-color: var(--bs-body-color);
}