:root, .card, .btn {
    --bs-primary: #9f9d9d !important;
    --bs-primary-darker: #807e7e !important;
    /*--bs-primary: #c2c2c2 !important;*/
    /*--bs-primary-darker: #999999 !important;*/
    --bs-secondary: #f3b061 !important;

    --bs-body-color: #f1eded !important;
    --bs-body-bg: #1e1e1e !important;

    --bs-btn-color: var(--bs-body-bg);
    --bs-btn-border-color: var(--bs-body-bg);
}

/*--bs-success: #198754;*/
/*--bs-info: #0dcaf0;*/
/*--bs-warning: #ffc107;*/
/*--bs-danger: #dc3545;*/
/*--bs-light: #f8f9fa;*/
/*--bs-dark: #212529;*/