@page "/"

<PageTitle>PoE Gambling Helper</PageTitle>

<div class="d-flex w-100 h-100">
    <Filter/>

    <div class="vertical-content">
        <h1 style="margin-bottom: 5rem">PoE Gambling Helper</h1>
        <GemStats/>
    </div>
</div>