@page "/"

<PageTitle>PoE Gambling Helper</PageTitle>

<div class="d-flex flex-column align-items-center w-100 h-100">
    <h2>Path of Exile</h2>
    <h1>GAMBLING HELPER</h1>

    <Filter @bind-TempleCost="_templeCost" @bind-FilterValues="_filterValues"/>

    <div class="container d-flex flex-wrap p-0 justify-content-between">
        @foreach (var gem in  FilterGems())
        {
            <GemStats GemData="gem" TempleCost="_templeCost"/>
        }
    </div>
</div>