<div class="card w-100">
    <div class="card-header d-flex">
        <h1>GEM_NAME</h1>
    </div>
    <div class="card-body d-flex">
        <h5 class="card-title">Data</h5>
    </div>
</div>

@code {
}