<div class="card w-100">
    <div class="card-header d-flex justify-content-between w-100">
        <h1>GEM_NAME</h1>
        <button class="btn btn-secondary">Exalted Orb</button>
    </div>
    <div class="card-body d-flex">
        <div class="card-body d-flex flex-column h-100 justify-content-between">
            <h5 class="card-title">Value</h5>
            <p class="card-title">Price Raw: 3</p>
            <p class="card-title">Value Worst Case: 0.2</p>
            <p class="card-title">Value Middle Case: 1</p>
            <p class="card-title">Value Best Case: 10</p>
        </div>
        <div class="card-body d-flex flex-column h-100 justify-content-between">
            <h5 class="card-title">Profit per Try</h5>
            <p class="card-title">Cost: 3</p>
            <p class="card-title">Profit Worst Case: -3.8</p>
            <p class="card-title">Profit Middle Case: -2</p>
            <p class="card-title">Profit Best Case: 9</p>
        </div>
        <div class="card-body d-flex flex-column h-100 justify-content-center">
            <p class="card-title">Average Profit per try: 1.1654413465463416546</p>
        </div>
    </div>
</div>

@code {
}