@using PoEGamblingHelper3.Shared.Model
<div class="card" style="width: 40rem;">
    <div class="card-body">
        <h3 class="card-title">@Gem.Name</h3>
        <div class="row gy-5">
            <div class="col">
                <h5 class="card-title">Value</h5>
                <p class="card-text">Price Raw: 3</p>
                <p class="card-text">Worst Case: 0.2</p>
                <p class="card-text">Middle Case: 1</p>
                <p class="card-text">Best Case: 10</p>
            </div>
            <div class="col">
                <h5 class="card-title">Profit per Try</h5>
                <p class="card-text">Cost: 3.5</p>
                <p class="card-text">Worst Case: -3.3</p>
                <p class="card-text">Middle Case: -2.5</p>
                <p class="card-text">Best Case: 6.5</p>
            </div>
            <div class="col d-flex">
                <button class="btn btn-primary align-self-end w-100">+ Value</button>
            </div>
            <div class="col d-flex flex-column justify-content-between">
                <h5 class="card-title">Average Profit per Try</h5>
                <button class="btn btn-outline-secondary align-self-end w-100">0.23</button>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Gem Gem { get; set; } = null!;

}