@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight"/>
<div>
    <main>
        <article>
            @Body
        </article>
    </main>
</div>

@code
{
    [Inject]
    IJSRuntime JsRuntime { get; set; } = null!;

    protected override async void OnInitialized()
    {
        await JsRuntime.InvokeVoidAsync("useSavedTheme");
    // await JsRuntime.InvokeVoidAsync("useTheme",Theme.Dark); //TODO 
    }
}
